.intro {
  max-width: 1200px;
  margin: 0px auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.intro h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.intro h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 120px;
  background: url("../img/detalhe.svg") no-repeat;
  position: absolute;
  top: -30px;
  left: -40px;
  z-index: -1;
}

.intro p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .intro h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .intro h1 {
    font-size: 2rem;
  }
  .intro h1::before {
    background: url("../img/Rectangle\ 81.svg") no-repeat;
    left: 0px;
    top: -1px;
  }
}

@media (max-width: 500px) {
  .intro {
    grid-template-columns: 1fr;
  }
  .intro img {
    display: none;
  }
}
